* > button{
	font-family: 'Courier New', Courier, monospace;
}
.popup{
    position: absolute;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .game-entry{
        border-radius: 10px;
        background-color: #155E75;
        width: 300px;
        height: 400px;
        position: absolute;
        text-align: center;

    }
        .game-entry > h3{

            padding: 16px;
        }
        .form-header{
            display: flex;
            flex-direction: row;
            justify-content: end;
        }
            .form-header > h3{
                margin: 16px;
                flex-grow:2;
            }
            .form-header > button{
                font-size: 1.1rem;
                font-weight: bold;
                margin: 8px;
                border: none;
                background-color: #155E75;
            }
        .form-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 370px;
        }

            .form-list > li{
                margin: 8px;
            }
                .form-list >li >input{
                }
                .form-list >li>button{
                    margin-bottom: 8px;
                }

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr .5fr;
    position: fixed;
}

    .header{
        grid-row: 1/2;
        grid-column: 1/2;
        background-color:#155E75;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
        .header > *{
            margin-left: 16px;
            margin-right: 16px;
        }

        .header button{
            height: 32px;
        }

    .content{
        grid-row:2/3;
        background-color: bisque;
        display: grid;
        grid-template-rows: 50px 1fr;
    }
        .content > h3{
           text-align: center; 
           align-self: center;
        }

        .library-cards{
            background-color: #ffedd5
            margin-top: 8px;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        }
            .library-card{
                margin: 8px;
                background-color: coral;
                height: 250px;
                display: flex;
                flex-direction: column;
            }
                .library-card > *{
                    margin: 8px;
                }
                .library-card > p{
                    text-align: center;
                    align-self: center;
                }

                .library-card{
                    display: flex;
                    background-color: #FDBA74;
                    flex-direction: column;
                    justify-content: space-between;
                    border-radius: 10px;
                    border-left: 8px solid #155E75;
                }

                    .card-info{

                        display: flex;
                        justify-content: space-between;
                    }
                        .text-info > p{
                            margin: 12px;
                        }
                        .card-info > img{
                            width: 80px;
                            height: 96px;
                            margin-right: 32px;
                        }

                    .card-buttons{
                        display: flex;
                        flex-direction: column;
                    }

                        .card-buttons > button{
                            margin: 8px;
                        }
    .footer{
        background-color: #155E75;
        display: flex;
        justify-content: center;
        align-items: center;
    }